/* Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  /*background-color: #ffdfd3;*/
}

.center {
  margin: 0 auto;
  width: 98%;
  max-width: 1440px;
}

/* Site */
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background-color: #7c0e07;
}
header .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 250px;
  height: 60px;
}
header .phone {
  background-color: #ffdfd3;
  color: #7c0e07;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
}

section.formulario {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-color: #f9e9e4;
  display: flex;
  justify-content: stretch;
}
section.formulario .foto-formulario {
  width: calc(50% - 10px);
  background-image: url("../Images/Smile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.formulario .dados-formulario {
  width: 50%;
  padding: 8px 20px;
  text-align: center;
}
section.formulario .dados-formulario h2 {
  margin-top: 10px;
  color: #7c0e07;
  font-size: 30px;
}
section.formulario .dados-formulario p {
  margin-top: 20px;
  color: #9d372a;
  font-size: 22px;
}
section.formulario .dados-formulario form {
  margin-top: 30px;
  padding: 0 20px;
}
section.formulario .dados-formulario form input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
}
section.formulario .dados-formulario form input[type=submit] {
  background-color: #7c0e07;
  color: white;
  font-size: 24px;
  font-weight: normal;
  cursor: pointer;
}
section.formulario .dados-formulario form .date-time {
  display: flex;
  gap: 10px;
}
section.formulario .dados-formulario form .date-time .horario {
  flex: 1;
}
section.formulario .dados-formulario form .date-time label {
  display: block;
  margin-bottom: 5px;
  color: #7c0e07;
  font-weight: bold;
}
section.formulario .dados-formulario form .date-time input[type=date],
section.formulario .dados-formulario form .date-time input[type=time] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

section.servicos {
  height: 100%;
  width: 100%;
}
section.servicos .box-servicos {
  width: 100%;
  height: 200px;
  display: flex;
}
section.servicos .box-servicos .box-single {
  height: 100%;
  width: 20%;
  background-color: #7c0e07;
  margin-left: 0;
  text-align: center;
}
section.servicos .box-servicos .box-single img {
  margin: 30px 0;
}
section.servicos .box-servicos .box-single p {
  font-size: 22px;
  font-weight: bold;
}
section.servicos .box-servicos .box-single p.t1 {
  color: #ffdfd3;
}
section.servicos .box-servicos .box-single p.t2 {
  color: #7c0e07;
}
section.servicos .tratamento-servico {
  width: 100%;
  padding: 20px;
  background-color: #f9e9e4;
  background-image: url("../Images/Background.png");
}
section.servicos .tratamento-servico h2 {
  font-size: 26px;
  margin: 40px 0px 25px 30px;
  color: #7c0e07;
}
section.servicos .tratamento-servico .list-servicos {
  background-color: white;
}
section.servicos .tratamento-servico .list-servicos .servicos-single {
  width: 100%;
  padding: 10px;
  background-color: #fffefe;
  border: 2px solid #7c0e07;
  border-bottom: none;
  cursor: pointer;
  font-size: 18px;
  transition: 1s;
}
section.servicos .tratamento-servico .list-servicos .servicos-single:hover {
  transition: 0s;
  opacity: 0.8;
}
section.servicos .tratamento-servico .list-servicos .servicos-single h3 {
  font-size: 22px;
  color: #7c0e07;
  padding: 5px 0;
}
section.servicos .tratamento-servico .list-servicos .servicos-single h3 span {
  margin-right: 10px;
  display: inline-block;
  transition: 0.6s;
}
section.servicos .tratamento-servico .list-servicos .servicos-single p {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  font-size: 20px;
}
section.servicos .tratamento-servico .list-servicos .servicos-single.ativo span {
  transform: rotate(90deg);
}
section.servicos .tratamento-servico .list-servicos .servicos-single.ativo p {
  transition: 1s;
  max-width: auto;
  padding: 20px 2px;
  border-top: 1px solid #7c0e07;
}

section.sobre {
  width: 100%;
  height: 500px;
  background-color: #fffefe;
  display: flex;
}
section.sobre .text-sobre {
  width: 50%;
  padding: 20px 10px;
}
section.sobre .text-sobre img {
  padding: 10px 15px;
  width: auto;
  height: 90px;
}
section.sobre .text-sobre p {
  color: #7c0e07;
  font-size: 20px;
  padding: 0 5px;
  line-height: 1.6;
}
section.sobre .img-sobre {
  width: 50% !important;
  height: 100% !important;
  background-image: url("../Images/Clinica.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.localizacao {
  display: flex;
}
section.localizacao .informacao {
  width: 50%;
  padding: 30px 15px;
  background-color: #bd604e;
  text-align: center;
  line-height: 1.8;
}
section.localizacao .informacao i {
  color: #ffb396;
  font-size: 30px;
  margin: 8px 0;
  text-shadow: 1px 1px 1px black;
}
section.localizacao .informacao p {
  color: white;
}
section.localizacao .informacao h2 {
  color: #ffb396;
  text-shadow: 1px 1px 1px black;
  margin: 8px 0;
}
section.localizacao .mapa {
  width: 50%;
  border: 5px solid #bd604e;
}
section.localizacao .mapa iframe {
  width: 100% !important;
}

footer {
  width: 100%;
  background-color: #7c0e07;
}
footer section.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #7c0e07;
}
footer section.footer img {
  width: 150px;
}
footer section.footer p {
  color: #bd604e;
}
footer section.footer i {
  font-size: 25px;
  color: white;
  margin-right: 25px;
}
footer section.footer i:hover {
  color: #ffdfd3;
}

@media screen and (max-width: 960px) {
  .center {
    width: 100%;
  }
  section.formulario {
    justify-content: center;
  }
  section.formulario .foto-formulario {
    display: none;
  }
  section.formulario .dados-formulario {
    width: 80%;
    margin: auto;
    background-color: #ffdfd3;
  }
  .box-single p {
    font-size: 16px !important;
  }
  section.sobre {
    flex-direction: column;
    height: auto;
  }
  section.sobre .text-sobre {
    width: 100% !important;
    height: 50%;
  }
  section.sobre .text-sobre img {
    width: auto;
    height: 90px;
  }
  section.sobre .text-sobre p {
    color: #7c0e07;
    font-size: 20px;
    padding: 0 5px;
    line-height: 1.6;
  }
  section.sobre .img-sobre {
    margin-top: 0 !important;
    width: 100% !important;
    height: 400px !important;
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 80px;
  }
  .logo {
    width: auto !important;
    height: auto !important;
  }
  .logo img {
    width: 180px;
    height: auto;
  }
  .phone {
    font-size: 8px;
    padding: 5px !important;
  }
  section.formulario {
    margin-top: 80px;
    height: 550px;
  }
  .box-servicos p {
    font-size: 12px !important;
  }
  .tratamento-servico h2 {
    font-size: 22px !important;
  }
  .tratamento-servico .list-servicos h3 {
    font-size: 18px !important;
  }
  .tratamento-servico .list-servicos p {
    font-size: 16px !important;
  }
  .text-sobre p {
    font-size: 18px !important;
  }
  .img-sobre {
    height: 250px !important;
  }
  section.localizacao {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: #bd604e;
  }
  section.localizacao .informacao {
    width: 100%;
  }
  section.localizacao .mapa {
    width: 100%;
    height: 300px;
  }
  section.localizacao .mapa iframe {
    width: 100% !important;
    height: 300px;
  }
}
@media screen and (max-width: 560px) {
  .phone h2 {
    font-size: 16px !important;
    line-height: 1.4 !important;
    word-wrap: break-word !important;
  }
  .phone span {
    display: block !important;
    margin-top: 5px !important;
  }
  section.formulario {
    height: auto !important;
  }
  .box-servicos {
    height: 120px !important;
  }
  .box-servicos .box-single p.t1,
  .box-servicos .box-single p.t2 {
    display: none !important;
  }
  footer section.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7c0e07;
  }
  footer section.footer p {
    display: none !important;
  }
  footer section.footer .social {
    display: flex;
    width: 130px;
    height: auto;
    justify-content: space-between;
  }
  footer section.footer .social i {
    margin-right: 0 !important;
  }
}/*# sourceMappingURL=style.css.map */